#!/usr/bin/env bash

# add rails bin to path
PATH_add bin

# load .env
dotenv

# Sets the GEM_HOME environment variable to $PWD/.direnv/ruby/RUBY_VERSION. This forces the installation of any gems into the project’s sub-folder. If you’re using bundler it will create wrapper programs that can be invoked directly instead of using the bundle exec prefix.
# layout ruby

# Adds each file to direnv’s watch-list. If the file changes direnv will reload the environment on the next prompt.
# watch_file Gemfile