%h1 Tublife

%h2 Baltimore
= render(TubChartComponent.new(device_name: "Kale-a Lilly"))

%h2 Richmond
= render(TubChartComponent.new(device_name: "Hot Tub Thermometer"))

%br
%br
%br
%br
%p
  If you need admin access,
  %a{:href => "/users/sign_up"} create an account here
  then ask
  %code @kyle
  to turn you on.
