// override boostrap colors/variables
// https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss
// $container-max-widths: (
//   sm: 420px,
//   md: 640px,
//   lg: 680px,
// );
$btn-padding-x-sm: 0.75rem;
@import "theme";

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// body {
//   background-color: $background-color;
//   font-family: $font-family;
//   font-weight: 300;
//   color: #2e2927;
// }
strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  color: $primary;
  text-transform: uppercase;
}
h5 {
  font-weight: 300;
  margin-top: 3rem;
}
h1,
h2 {
  text-align: center;
}
.btn-primary,
.btn-secondary,
.btn-dark,
.price {
  text-transform: uppercase;
  font-family: $accent-font-family;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.alert-secondary {
  border: none;
  background: $secondary;
  color: white;
}
.btn-link,
a {
  text-decoration: underline;
}
