// override boostrap colors/variables
// https://github.com/twbs/bootstrap-rubygem/blob/master/assets/stylesheets/bootstrap/_variables.scss
$btn-padding-x-sm: 0.75rem;
@import "theme";

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

strong {
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
  color: $primary;
}
.btn-primary,
.btn-secondary,
.btn-dark,
.price {
  text-transform: uppercase;
  font-family: $accent-font-family;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.alert-secondary {
  border: none;
  background: $secondary;
  color: white;
}
.btn-link,
a {
  text-decoration: underline;
}

.chart-container {
  height: 40vh;
  canvas {
    height: 100%;
    width: 100%;
  }
  margin: 1vh 0;
}
